/* ########## VARIABLES ##########  */

/* ##### COLORS ##### */

$mainColor : #f7bc28;
$darkColor : #000;
$WhiteColor : #fff;


$text : #000;
$firstName : #f7bc28;
$lastName : #fff;




