/* ########## BASE ##########  */

 body {
    margin: 0; /*Remove the margin in all browsers*/
    background-color: $mainColor;
  }

  .page {
      /* ALTERNATIVE : background : linear-gradient(139deg,$darkColor 60vw, $mainColor 40vw); */
      height : 100vh;
      overflow: hidden;
        @media (max-width: 826.9px) { 
            background : linear-gradient(139deg,$darkColor 60vw, $mainColor 40vw);
        }
        @media (min-width: 827px) and (max-width: 1259.9px) { 
            background : linear-gradient(139deg,$darkColor 60vw, $mainColor 40vw);
        }
        @media (min-width: 1260px) { 
            background : linear-gradient(139deg,$darkColor 46%, $mainColor 46%);
        }
  }

  .container {
    max-width:1200px;
    margin: auto;
}

  /* ##### TEXT ##### */

h1 {
    @include mainFont;
    font-size: 2rem;
    font-weight:700;
    text-transform: uppercase;
    span:nth-child(1) {
        color: $firstName;
    }
    span:nth-child(2) {
        color: $lastName;
    }
}

h2 {
    @include mainFont;
    color : $darkColor;
    font-size: 4.5rem;
    font-weight:900;
    @media (max-width: 826.9px) { 
        font-size: 4rem;
    }
    @media (min-width: 827px) and (max-width: 1259.9px) { 
        font-size: 4.5rem;
    }
    @media (min-width: 1260px) { 
        font-size: 6rem;
     }
}

p, a {
    @include mainFont;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: $text;
}


 