/* ########## BASE ##########  */

 body {
    margin: 0; /*Remove the margin in all browsers*/
    background-color: $mainColor;
  }

  .page {
      background : linear-gradient(140deg,$darkColor 50%, $mainColor 30%);
  }

  .container {
    max-width:1200px;
    margin: auto;
}

  /* ##### TEXT ##### */

h1 {
    @include mainFont;
    font-size: 2rem;
    text-transform: uppercase;
    span:nth-child(1) {
        color: $firstName;
    }
    span:nth-child(2) {
        color: $lastName;
    }
}

p, a {
    @include mainFont;
    font-size: 1rem;
    text-decoration: none;
    color: $text;
}

