/* ########## TYPOGRAPHY ##########  */

/* font-family: 'Montserrat', sans-serif; 
REGULAR : 400
BOLD : 700
BLACK : 900

@include mainFont

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');



/* font-family: 'Great Vibes', cursive; 

@include dropCap

*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');