/* ########## MAIN ##########  */

main {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.titles {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    /* margin: auto; */
    /* position: absolute;
    top : 0vh; */
    animation: slideToRight 200s linear infinite;
}

@keyframes slideToRight {
    from{
        transform: translate(20.8%, 1000%) rotate(-41deg); //transform: translate(20%, 1000%) rotate(-41deg);
    }
    100% {
        transform: translate(72.30%, -1000%) rotate(-41deg); //transform: translate(72.30%, -1000%) rotate(-41deg);
    }
}

.presentation {
    width: 17rem;
    padding:3rem;
    &__dropcap {
        @include dropCap;
        font-size:2rem;
        position : relative;
        bottom: 0.2rem;
        right: 0.2rem;
    }
    p {
        line-height: 1.8rem;
    }
    @media (max-width: 576px) { 
        
    }
    @media (min-width: 576.1px) and (max-width: 768px) { 
        
    }
    @media (min-width: 768.1px) { 
        
     }
}