/* ########## MAIN ##########  */

main {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.presentation {
    width: 17rem;
    padding:2rem;
    &__dropcap {
        @include dropCap;
        font-size:2rem;
        position : relative;
        bottom: 0.2rem;
        right: 0.2rem;
    }
    p {
        line-height: 1.8rem;
    }
}