/* ########## VARIABLES ##########  */
/* ##### COLORS ##### */
/* ########## FUNCTIONS ##########  */
/* ########## MIXINS ##########  */
/* ##### FONTS ##### */
/* ########## EXTENSIONS ##########  */
/* ########## BASE ##########  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  margin: 0;
  /*Remove the margin in all browsers*/
  background-color: #f7bc28;
}

.page {
  /* ALTERNATIVE : background : linear-gradient(139deg,$darkColor 60vw, $mainColor 40vw); */
  overflow: hidden;
}
@media (max-width: 826.9px) {
  .page {
    background: linear-gradient(139deg, #000 60vw, #f7bc28 40vw);
  }
}
@media (min-width: 827px) and (max-width: 1259.9px) {
  .page {
    background: linear-gradient(139deg, #000 60vw, #f7bc28 40vw);
  }
}
@media (min-width: 1260px) {
  .page {
    background: linear-gradient(139deg, #000 46%, #f7bc28 46%);
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* ##### TEXT ##### */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
h1 span:nth-child(1) {
  color: #f7bc28;
}
h1 span:nth-child(2) {
  color: #fff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 4.5rem;
  font-weight: 900;
}
@media (max-width: 826.9px) {
  h2 {
    font-size: 4rem;
  }
}
@media (min-width: 827px) and (max-width: 1259.9px) {
  h2 {
    font-size: 4.5rem;
  }
}
@media (min-width: 1260px) {
  h2 {
    font-size: 6rem;
  }
}

p, a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

/* ########## TYPOGRAPHY ##########  */
/* font-family: 'Montserrat', sans-serif; 
REGULAR : 400
BOLD : 700
BLACK : 900

@include mainFont

*/
/* font-family: 'Great Vibes', cursive; 

@include dropCap

*/
/* ########## BUBBLES ##########  */
/* ########## HEADER ##########  */
.header {
  padding: 1.5rem;
}

/* ########## ANIMATION ##########  */
/* ##### CANVAS ##### */
canvas {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  background-color: RGBa(0, 0, 0, 0) !important;
}

/* ########## MAIN ##########  */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.titles {
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  animation: slideToRight 200s linear infinite;
}
@media (max-width: 576px) {
  .titles {
    visibility: collapse;
  }
}

@keyframes slideToRight {
  from {
    transform: translate(20.8%, 1000%) rotate(-41deg);
  }
  100% {
    transform: translate(72.3%, -1000%) rotate(-41deg);
  }
}
.presentation {
  width: 17rem;
  padding: 2rem;
}
.presentation__dropcap {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  position: relative;
  bottom: 0.2rem;
  right: 0.2rem;
}
.presentation p {
  line-height: 1.8rem;
}

/* ########## FOOTER ##########  */
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5vh 0vh 5vh 0vh;
}
@media (max-width: 576px) {
  .footer {
    flex-direction: column-reverse;
  }
}
@media (min-width: 576.1px) and (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768.1px) {
  .footer {
    flex-direction: row;
  }
}
.footer__mail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__mail {
    padding-top: 3rem;
  }
}
@media (min-width: 768.1px) {
  .footer__mail {
    padding-right: 5rem;
  }
}
.footer__mail__env {
  padding-right: 0.6rem;
}
.footer__RS {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .footer__RS {
    flex-direction: column;
  }
}
@media (min-width: 576.1px) and (max-width: 768px) {
  .footer__RS {
    flex-direction: row;
  }
}
@media (min-width: 768.1px) {
  .footer__RS {
    flex-direction: row;
  }
}
.footer__RS div {
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
